<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Cadastro - Loja de Informática</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=BBH+Sans+Bartle&family=BBH+Sans+Hegarty&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="static/cadastro.css" />
  </head>
  <body>
    <div class="container">
      <h3>Criar Conta</h3>

      {% if request.args.get('erro') %}
      <div class="alert alert-warning" style="color:white">
       {{ request.args.get('erro') }}
      </div>
      {% endif %}


      <form method="POST">
        <label>Nome</label>
        <input type="text" name="nome" placeholder="Digite seu Nome" required />

        <label>Email</label>
        <input
          type="email"
          name="email"
          placeholder="Digite seu Email"
          required
        />

        <label>Senha</label>
        <input
          type="password"
          name="senha"
          placeholder="Digite sua Senha"
          required
        />

        <button type="submit">Cadastrar</button>
      </form>
      <p>Já tem conta? <a href="/login">Entrar</a></p>
    </div>
  </body>
</html>
